:host {
  width: 100%;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 1rem;
  &_data {
    width: 80%;
    padding: 1rem 0;
  }
  &_title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;

    @media (max-width: 912px) {
      font-size: 0.8rem;
    }
  }
  &_delete-btn {
    &__icon {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.hidden {
  display: none;
}

.mat-card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 500;
}

.mat-icon-button {
  position: absolute;
  right: 0;
}
