<div class="board_header">
  <div class="board_title">
    <button (click)="backToMain()" mat-icon-button aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="board" [title]="board.title">
      {{ 'BOARD_PAGE.title' | translate }}: <b>{{ board.title }}</b>
    </h1>
  </div>
  <div class="board_controls">
    <button
      class="add-col"
      mat-raised-button
      color="accent"
      type="button"
      (click)="onColumnCreateClick()">
      {{ 'BOARD_PAGE.createColBtn' | translate }}
    </button>
    <button
      class="add-col-mob"
      mat-mini-fab
      aria-label="add column"
      (click)="onColumnCreateClick()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="board_header_users">
      <div class="assign-user">
        <button
          mat-icon-button
          class="assign-user_btn"
          (click)="openAssignUsersDialog()">
          <mat-icon class="assign-user__icon">person_add_alt</mat-icon>
        </button>
      </div>
      <div class="board_users" *ngIf="boardUsers.length !== 0">
        <div *ngFor="let user of boardUsers">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="user_btn">
            {{ user.name!.slice(0, 1) | uppercase }}
          </button>
          <mat-menu #menu="matMenu">
            <div class="user_info">
              <p class="user_info__header">
                {{ 'BOARD_PAGE.assignedUserInfo' | translate }}
              </p>
              <div class="user_info__title-container">
                <p class="user_info__title">
                  {{ 'BOARD_PAGE.assignedUserName' | translate }}:
                </p>
                <p class="user_info__title-data">{{ user.name }}</p>
              </div>
              <div class="user_info__title-container">
                <p class="user_info__title">
                  {{ 'BOARD_PAGE.assignedUserLogin' | translate }}:
                </p>
                <p class="user_info__title-data">{{ user.login }}</p>
              </div>
              <button
                mat-stroked-button
                (click)="deleteUserFromBoard(user._id)">
                {{ 'BOARD_PAGE.deleteUserFromBoardBtn' | translate }}
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="columnDragList"
  class="columns_container"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="columns"
  (cdkDropListDropped)="dropColumns($event)">
  <app-column-component
    *ngFor="let column of columns"
    [column]="column"
    [columns]="columns"
    [cdkDragData]="column"
    cdkDropListGroup
    cdkDrag>
  </app-column-component>
</div>
