<app-create-board *ngIf="modalsService.showCreateBoardModal"></app-create-board>
<ng-template #noboards>
  <div class="no-boards">
    <p>{{ 'MAIN_PAGE.no_boards' | translate }}</p>
    <button mat-flat-button (click)="onCreateNewBoard()" color="primary">
      {{ 'MAIN_PAGE.new_board_btn' | translate }}
    </button>
  </div>
</ng-template>
<div class="boards">
  <h1 class="boards-list_header">{{ 'MAIN_PAGE.main_title' | translate }}</h1>
  <mat-nav-list *ngIf="boards.length !== 0; else noboards" class="boards-list">
    <app-board
      *ngFor="let board of boards; let i = index"
      [board]="board"></app-board>
  </mat-nav-list>
</div>
