:host {
  background: linear-gradient(#f6f9fa, #e6f4ff) no-repeat;
}

.container {
  padding: 0 25px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  &__intro {
    min-width: 320px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 3rem;

    .span:last-child {
      font-weight: 700;
    }

    @media screen and (max-width: 820px) {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }

  &__subtitle {
    position: relative;
    font-size: 1.3rem;
    font-weight: 300;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -15px;
      width: 64px;
      height: 1px;
      background: #8a8a8a;
    }
  }

  &__button {
    top: 10px;

    @media screen and (max-width: 600px) {
      left: 50%;
      top: 15px;
      transform: translateX(-50%);
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.img {
  max-width: 1000px;
  width: 100%;
}

.mat-divider {
  max-width: 700px;
  margin: 0 auto;
}

.h2 {
  font-size: 1.8rem;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;

  &__pic {
    padding-right: 30px;
  }

  &__title {
    margin-bottom: 20px;
  }

  .mat-card {
    margin-bottom: 10px;
    background: linear-gradient(#f7fdff, rgb(255, 255, 255)) no-repeat;
  }

  .mat-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__header {
    margin-bottom: 20px;
  }

  &__team {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  &__avatar {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
  }

  h3 {
    font-weight: 500;
    font-size: 1.2rem;
  }
}
