:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.mat-card-login {
  max-width: 360px;
  margin: 0 10px;
  padding: 40px;
}

.mat-card-footer {
  margin: 30px 0px -20px 0;
}

.form__btn {
  height: 44px;
}
