.search-bar {
  position: relative;
  width: 20rem;
  margin: 0 1rem;

  &_btn_icon {
    font-size: 1.2rem !important;
  }
  &_error {
    position: absolute;
    padding-left: 1rem;
    bottom: -12px;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
  }

  @media (max-width: 960px) {
    width: 10rem;
  }

  @media (max-width: 425px) {
    width: 9rem;
  }
}
