<div>2022</div>
<div class="team-github">
  <div>{{ 'FOOTER.github' | translate }}</div>
  <div class="author">
    <a href="https://github.com/svetarachok" target="_blank">{{
      'FOOTER.person1' | translate
    }}</a>
  </div>
  <div class="author">
    <a href="https://github.com/deftonjke" target="_blank">{{
      'FOOTER.person2' | translate
    }}</a>
  </div>
  <div class="rs-logo">
    <a href="https://rs.school/angular/" target="_blank">
      <img src="../../assets/rs_school_js.svg" alt="rs-school-logo" />
    </a>
  </div>
</div>
