<form
  [formGroup]="createBoardForm"
  (ngSubmit)="onSubmit(formDirective)"
  #formDirective="ngForm"
  class="create-board">
  <div class="create-board_container">
    <h2>{{ 'CREATE_BOARD_MODAL.title' | translate }}</h2>
    <div class="create-board_inputs-container">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'CREATE_BOARD_MODAL.label' | translate }}</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="title!.invalid">
          {{ 'CREATE_BOARD_MODAL.formError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'CREATE_BOARD_MODAL.addUsers' | translate }}</mat-label>
        <mat-select formControlName="usersSelect" multiple>
          <mat-option *ngFor="let user of users | async" [value]="user._id">{{
            user.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">
      {{ 'CREATE_BOARD_MODAL.btn' | translate }}
    </button>
    <button mat-icon-button (click)="onCloseModal()" class="close-modal-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</form>
