/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif;',
);
@include mat.core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
